.Calc {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-evenly;
  border: 2px solid black;
  padding: 20px;
  &__plus,
  &__minus,
  &__reset {
    font-size: 2rem;
    border: 1px solid black;
  }
}
.Calc_total {
}
