.address {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;

  &__item {
    display: flex;
    align-items: center;
    gap: 0.125rem;
  }

  &__icon {
    width: 1rem;
    height: 1rem;
    fill: $main;
  }

  &__text,
  &__mileage {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25;
    color: $main;
  }
}
