$main: #101828;
$gray: #8e929a;
$gray-light: #dadde1;
$badges: #f2f4f7;
$inputs: #f7f7f7;
$white: #ffffff;
$button: #3470ff;
$button-hover: #0b44cd;
$trf: transform 300ms cubic-bezier(0.33, 1, 0.68, 1);
$dark-gradient-start: #0a0f0c;
$dark-gradient-end: #020605;
$loader-bg: #022b1c;
$accent-green: #00f5a0;
$accent-yellow: #ffea00;
$error-color: #ff4d4f;
