$color-black: #457341;

html,
body {
  scroll-behavior: auto !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

button {
  all: unset;
  cursor: pointer;
  color: currentColor;
}

input,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

li {
  font-size: 2rem;
  color: $color-black;
}
